/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* * * HEADER * * */
header img {
    width: 20vw;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 30px;
}
nav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

/* * * MAIN * * */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
}
.heading-image img {
    max-width: 100%;
}
.about-image img {
    max-width: 100%;
}
/* * * FIRST CONTAINER * * */
.first-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 50px 40px;
    z-index: 1;
}
.heading {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.heading h1 {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
}
.heading p {
    font-size: 0.9rem;
}
.first-container form {
    display: grid;
    gap: 1rem;
    width: 100%;
}
#h-email {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
#h-submit {
    color: white;
    padding: 15px;
    background-color: hsl(224, 93%, 58%);
    border: 1px solid hsl(224, 93%, 58%);
    border-radius: 5px;
}

/* * * SECOND CONTAINER * * */
.second-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: hsl(240, 75%, 98%);
    position: relative;
    padding: 60px 30px;
    margin-top: 60px;
}
.second-container::before {
    content: url(../images/bg-curve-mobile.svg);
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    transform: translateY(-90%);
}
.about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.about h2 {
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
}
.about p {
    font-size: 0.9rem;
}
.about a {
    font-size: 0.9rem;
    text-align: center;
    color: hsl(170, 45%, 43%);
    line-height: 2rem;
}
.review {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 25px;
    border-radius: 5px;
    width: 78vw;
    margin: 0 auto;
}
.review img {
    width: 1rem;
}
.review p {
    font-size: 0.7rem;
}
.sm-container {
   display: flex;
   flex-direction: row;
   gap: 0.7rem;

}
.sm-container img {
    width: 2rem;
    border-radius: 50%;
    
}
.sm-container h3 {
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
}
.sm-container span {
    font-size: 0.6rem;
}

/* * * THIRD CONTAINER * * */
.third-container {
    background-color: hsl(238, 22%, 44%);
    color: white;
    padding: 50px 40px;
    text-align: center;
    display: grid;
    gap: 1rem;
}
.signup {
    display: grid;
    gap: 0.9rem;
}
.signup h2 {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}
.signup p {
    font-size: 0.95rem;
}
form {
    display: grid;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
}
#signup {
    padding: 10px;
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 5px;
}
#signup-submit {
    padding: 10px;
    background-color: hsl(224, 93%, 58%);
    border: 1px solid hsl(224, 93%, 58%);
    border-radius: 5px;
    color: white;
}
/* * * FOOTER * * */
footer {
    background-color: hsl(243, 87%, 12%);
    color: white;
    display: grid;
    gap: 2rem;
    padding: 50px 40px;
}
.filo-logo path {
    fill: white;
}
.contact {
    display: grid;
    gap: 1rem;
}
.contact-icon-text {
    display: grid;
    grid-template-columns: 20px 200px;
    align-items: center;
    gap: 0.8rem;
}
.contact-icon-text {
    font-size: 0.9rem;
}
ul {
    list-style-type: none;
}
.footer-list {
    display: grid;
    gap: 2rem;
}
footer li a {
    color: white;
    line-height: 2rem;
}
.soc-med-icon {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* * * * * * * * * * * * M E D I A   Q U E R Y * * * * * * * * * * * */

@media screen and (min-width: 1000px) {
    header {
        margin: 5vw 10vw;
    }
    header img {
        width: 10vw;
    }
    main {
        display: grid;
        place-items: center;
        max-width: 100vw;
    }
    .first-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 200px;
        padding: 50px 10vw;
    }
    .heading {
        text-align: left;
    }
    .heading h1 {
        font-size: 2rem;
        line-height: 3rem;
    }
    .heading p {
        font-size: 1rem;
    }
    .heading-email form {
        display: flex;
        width: 100%;
    }
    #h-email {
        width: 20vw;
    }
    #h-submit {
        width: 10vw;
    }
    .second-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'about image';
        padding: 10vw 10vw;
    }
    .second-container::before {
        content: url(../images/bg-curve-desktop.svg);
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        transform: translateY(-90%);
    }
    
    .about {
        grid-area: about;
        align-items: flex-start;
    }
    .about h2 {
        font-size: 2rem;
        text-align: left;
    }
    .about p {
        font-size: 1rem;
        margin-right: 50px;
    }
    .about a {
        font-size: 1rem;
    }
    .review {
        width: 100%;
    }
    .about-image {
        grid-area: image;
    }
    .third-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10vw;
    }
    .signup {
        text-align: left;
        margin: auto;
    }
    .signup h2 {
        font-size: 2rem;
    }
    .signup p {
        font-size: 1rem;
    }
    #signup {
        width: 30vw;
    }
    #signup-submit {
        width: 15vw;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: baseline;
        padding: 5vw 10vw;
    }
    .footer-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;

    }
}
@media screen and (min-width: 1400px) {
    header {
        margin: 5vw 10vw;
    }
    .first-container {
        padding: 0 10vw;
    }
    .heading h1 {
        font-size: 2.1rem;
    }
    .heading p {
        font-size: 1.1rem;
    }
    .second-container {
        padding: 5vw 10vw;
    }
    .about h2 {
        font-size: 2.1rem;
    }
    .about p {
        font-size: 1rem;
    }
    .about a {
        font-size: 1rem;
    }
    .third-container {
        padding: 5vw 10vw;
    }
    .signup h2 {
        font-size: 2.2rem;
    }
    .signup p {
        font-size: 1rem;
    }
    footer {
        padding: 5vw 10vw;
    }
}
@media screen and (min-width: 2000px) {
    header {
        margin: 5vw 10vw;
    }
    .first-container {
        padding: 0 10vw;
    }
    .heading h1 {
        font-size: 4rem;
        line-height: 5rem;
    }
    .heading p {
        font-size: 1.9rem;
    }
    .second-container {
        padding: 5vw 10vw;
    }
    .about h2 {
        font-size: 3.8rem;
    }
    .about p {
        font-size: 1.9rem;
    }
    .about a {
        font-size: 1.9rem;
    }
    .third-container {
        padding: 5vw 10vw;
    }
    .signup h2 {
        font-size: 3.8rem;
    }
    .signup p {
        font-size: 1.9rem;
    }
    footer {
        padding: 5vw 10vw;
    }
}